<!-- slider -->
<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/images/detail_images/f1.jpg"  alt="Image"  style=" width:100% ; ">
                <div class="carousel-caption">
                    <h3>Christmas Photocampaign at CITTI-PARK Kiel</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/detail_images/f2.jpg"  alt="Image"  style=" width:100% ; ">
                <div class="carousel-caption">
                    <h3>Christmas Photocampaign at CITTI-PARK Kiel</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/detail_images/f3.jpg"  alt="Image"  style=" width:100% ; ">
                <div class="carousel-caption">
                    <h3>Christmas Photocampaign at CITTI-PARK Kiel</h3>
                    <p>...</p>
                </div>
            </div>




        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>
    </div>
</div>

<!-- description -->

<div class="container">
    <h1>	Christmas Photocampaign at CITTI-PARK Kiel</h1>

    <blockquote>
        <h2>from 24th November to 23rd December</h2>
<p>Photocampaign by STUDIOLINE PHOTOGRAPHY – Smile into the camera...: For many people it is a tradition to send their family and friends greetings and wishes for Christmas. With a decorative photo by STUDIOLINE PHOTOGRAPHY this year’s Christmas card can turnout to be very individual celebration.

    For all CITTI-PARK customers STUDIOLINE PHOTOGRAPHY is offering a wonderful Christmas photo shoot  in front of a magical scenery.

    No appointment necessary. About 20 photos will be taken at the photo shoot, which costs only  9,- € and your favourite photo is already included, further photos can be bought as well.
</p>
        <h2>
            Photocampaign:
            Mo - We: 9 - 20 o'clock<br>
            Th: 9 - 22 o'clock<br>
            23.12.: 9 - 20 o'clock

        </h2>
        <footer>From Wikipedia</footer>
    </blockquote>
</div>




