


<!-- slider -->
<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/images/detail_images/1.jpg"  alt="Image"  style=" width:100% ; ">
                <div class="carousel-caption">
                    <h3>Kiel canal</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/detail_images/2.jpg"  alt="Image"  style=" width:100% ; ">
                <div class="carousel-caption">
                    <h3>Kiel canal</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/detail_images/3.jpg"  alt="Image"  style=" width:100% ; ">
                <div class="carousel-caption">
                    <h3>Kiel canal</h3>
                    <p>...</p>
                </div>
            </div>

            <div class="item">
                <img src="/images/detail_images/4.jpg"  alt="Image"  style=" width:100% ; ">
                <div class="carousel-caption">
                    <h3>Kiel canal</h3>
                    <p>...</p>
                </div>
            </div>

            <div class="item">
                <img src="/images/detail_images/5.jpg"  alt="Image"  style=" width:100% ; ">
                <div class="carousel-caption">
                    <h3>Kiel canal</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
    </div>
</div>

<!-- description -->

<div class="container">
    <h1>Kial-Canal</h1>

    <blockquote>
        <h2>Start point	Brunsbüttel (North Sea)</h2>
        <h2> End point	Kiel (Baltic Sea)</h2>

        <p>The Kiel Canal (German: Nord-Ostsee-Kanal, literally "North-[to]-Baltic Sea canal", formerly known as the Kaiser-Wilhelm-Kanal) is a 98-kilometre (61 mi) long freshwater canal in the German state of Schleswig-Holstein. The canal was finished in 1895, but later widened, and links the North Sea at Brunsbüttel to the Baltic Sea at Kiel-Holtenau. An average of 250 nautical miles (460 km) is saved by using the Kiel Canal instead of going around the Jutland Peninsula. This not only saves time but also avoids storm-prone seas and having to pass through the Sound or Belts.

            Besides its two sea entrances, the Kiel Canal is linked, at Oldenbüttel, to the navigable River Eider by the short Gieselau Canal.[1]</p>
        <h1>History</h1>
        <p>The first connection between the North and Baltic Seas was constructed while the area was ruled by Denmark-Norway. It was called the Eider Canal, which used stretches of the Eider River for the link between the two seas. Completed during the reign of Christian VII of Denmark in 1784, the Eiderkanal was a 43-kilometre (27 mi) part of a 175-kilometre (109 mi) waterway from Kiel to the Eider River's mouth at Tönning on the west coast. It was only 29 metres (95 ft) wide with a depth of 3 metres (10 ft), which limited the vessels that could use the canal to 300 tonnes.[2]

            After 1864 Second Schleswig War put Schleswig-Holstein under the government of Prussia (from 1871 the German Empire), a new canal was sought by merchants and by the German navy, which wanted to link its bases in the Baltic and the North Sea without the need to sail around Denmark.[2]

            In June 1887, construction started at Holtenau, near Kiel. The canal took over 9,000 workers eight years to build. On 20 June 1895 the canal was officially opened by Kaiser Wilhelm II for transiting from Brunsbüttel to Holtenau. The next day, a ceremony was held in Holtenau, where Wilhelm II named it the Kaiser Wilhelm Kanal (after his grandfather, Kaiser Wilhelm I), and laid the final stone.[3] The opening of the canal was filmed by British director Birt Acres; surviving footage of this early film is preserved in the Science Museum in London.[4] The first Trans-Atlantic sailing ship to pass through the canal was Lilly, commanded by Johan Pitka. Lilly. a barque, was a wooden sailing ship of about 390 tons built 1866 in Sunderland, U.K. She had a length of 127.5 ft., beam 28.7 ft., depth of 17.6 ft and a 32-ft keel.</p>

         <h1>Operation</h1>
        <p>
            While most large, modern cruise ships cannot pass through this canal due to clearance limits under bridges, the SuperStar Gemini has special funnels and masts that can be lowered for passage. Swan Hellenic's Minerva, P&O Cruises's Adonia, Fred. Olsen Cruise Lines' ship Balmoral, 'Cruise & Maritime Voyages' ship MS Marco Polo, 'Oceania Cruises' Regatta, and Nautica, and MS Prinsendam of Holland America Line are able to transit the canal. Several of the Viking cruise ships are made specifically with Kiel Canal passage in mind, namely the Sea and Sky models.[citation needed]

            All permanent, fixed bridges crossing the canal since its construction have a clearance of 42 metres (138 ft).

            Maximum length for ships passing the Kiel Canal is 235.50 metres (772.6 ft); with the maximum width of 32.50 metres (106.6 ft) these ships can have a draught of up to 7.00 metres (22.97 ft). Ships up to a length of 160.00 metres (524.93 ft) may have a draught up to 9.50 metres (31.2 ft).[12] The bulker Ever Leader (deadweight 74001 t) is considered to be the cargo ship that to date has come closest to the overall limits.
        </p>
        <footer>From Wikipedia</footer>
    </blockquote>
</div>




<!-- Location -->
<div>
    <h1 style="font-size:36px; color:black">Location</h1>


  <a href="https://www.google.de/maps/place/Nord-Ostsee-Kanal/@54.3654944,10.1317943,16.25z/data=!4m13!1m7!3m6!1s0x47b3b9f3f6824b3b:0x8209ec730ede5728!2sKiel+Canal!3b1!8m2!3d54.1272272!4d9.6527628!3m4!1s0x0:0x9ccfbcbe6292df51!8m2!3d54.3675085!4d10.1336753">
      <center style=" margin: 50px;"> <img src="/images/map/1.png"  class="img-rounded"  alt="image" width="800" height="600"></center></a>

</div>