<!-- slider -->
<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/images/detail_images/m6.jpg"  alt="Image">
                <div class="carousel-caption">
                    <h3>Laboe Naval Memorial</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/detail_images/m7.jpg"  alt="Image">
                <div class="carousel-caption">
                    <h3>Laboe Naval Memorial</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/detail_images/m8.jpg"  alt="Image">
                <div class="carousel-caption">
                    <h3>Laboe Naval Memorial</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>


        </ol>
    </div>
</div>

<!-- description -->

<div class="container">
    <h1>Laboe Naval Memorial</h1>

    <blockquote>
        <p>The Laboe Naval Memorial is a memorial located in Laboe, near Kiel, in Schleswig-Holstein, Germany.
            <br>
            The Laboe Naval Memorial (a.k.a. Laboe Tower) is a memorial located in Laboe, near Kiel, in Schleswig-Holstein, Germany. Started in 1927 and completed in 1936, the monument originally memorialized the World War I war dead of the Kaiserliche Marine, with the Kriegsmarine dead of World War II being added after 1945. In 1954, it was rededicated to commemorate the sailors of all nationalities who died during the World Wars.
            The monument consists of a 72-metre-high (236 ft) tower topped by an observation deck. The deck stands a total 85 m (279 ft) above sea level. A hall of remembrance and World War II-era German submarine U-995, which houses a technical museum, both sit near the foot of the monument, and the site is a popular tourist venue. U-995 is the worlds only remaining Type VII U-boat.
            The tower was designed by architect Gustav August Munzer,[1] who stated that the form was not meant to represent anything specific but was to inspire positive feelings in those who look at it. It is frequently associated with the stem of a vikingship or the conning tower of a submarine.
        </p>

        <footer>From Wikipedia</footer>
    </blockquote>
</div>




<!-- Location -->
<div>
    <h1 style="font-size:36px; color:black">Location</h1>
    <h2 style=" text-align: center">Address: Strandstraße 92, 24235 Laboe</h2>
    <a href="https://www.google.de/maps/place/Strandstra%C3%9Fe+92,+24235+Laboe/@54.4115041,10.2267103,17z/data=!3m1!4b1!4m5!3m4!1s0x47b2f9b8b865dcf1:0xa53a337340996af7!8m2!3d54.411501!4d10.228899">

        <center style=" margin: 50px;">

            <img src="/images/map/2.png"  class="img-rounded"  alt="image" width="800" height="600">
        </center>
    </a>

</div>