<!-- slider -->
<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/images/detail_images/g1.jpg"  alt="Image">
                <div class="carousel-caption">
                    <h3>German submarine U-995</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/detail_images/g2.jpg"  alt="Image">
                <div class="carousel-caption">
                    <h3>German submarine U-995</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/detail_images/g3.jpg"  alt="Image">
                <div class="carousel-caption">
                    <h3>German submarine U-995</h3>
                    <p>...</p>
                </div>
            </div>


        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>
    </div>
</div>

<!-- description -->

<div class="container">
    <h1>	German submarine U-995</h1>

    <blockquote>
        <h2>Length: 67 m
            Launched: July 22, 1943
            Hours: · 9:30AM–6PM
        </h2>
<p>German submarine U-995 is a Type VIIC/41 U-boat of Nazi Germany's Kriegsmarine. She was laid down on 25 November 1942 by Blohm & Voss in Hamburg, Germany, and commissioned on 16 September 1943 with Oberleutnant zur See Walter Köhntopp in command.</p>
<br>
<p>German Type VIIC/41 submarines were preceded by the heavier Type VIIC submarines. U-995 had a displacement of 759 tonnes (747 long tons) when at the surface and 860 tonnes (850 long tons) while submerged.[1] She had a total length of 67.10 m (220 ft 2 in), a pressure hull length of 50.50 m (165 ft 8 in), a beam of 6.20 m (20 ft 4 in), a height of 9.60 m (31 ft 6 in), and a draught of 4.74 m (15 ft 7 in). The submarine was powered by two Germaniawerft F46 four-stroke, six-cylinder supercharged diesel engines producing a total of 2,800 to 3,200 metric horsepower (2,060 to 2,350 kW; 2,760 to 3,160 shp) for use while surfaced, two Brown, Boveri & Cie GG UB 720/8 double-acting electric motors producing a total of 750 metric horsepower (550 kW; 740 shp) for use while submerged. She had two shafts and two 1.23 m (4 ft) propellers. The boat was capable of operating at depths of up to 230 metres (750 ft)
    The submarine had a maximum surface speed of 17.7 knots (32.8 km/h; 20.4 mph) and a maximum submerged speed of 7.6 knots (14.1 km/h; 8.7 mph). When submerged, the boat could operate for 80 nautical miles (150 km; 92 mi) at 4 knots (7.4 km/h; 4.6 mph); when surfaced, she could travel 8,500 nautical miles (15,700 km; 9,800 mi) at 10 knots (19 km/h; 12 mph). U-995 was fitted with five 53.3 cm (21 in) torpedo tubes (four fitted at the bow and one at the stern), fourteen torpedoes, and three anti-aircraft guns. The boat had a complement of between forty-four and sixty.
</p>
        <footer>From Wikipedia</footer>
    </blockquote>
</div>




<!-- Location -->
<div>
    <h1 style="font-size:36px; color:black">Location</h1>
    <h2 style=" text-align: center">Address: Strandstraße 92, 24235 Laboe</h2>
    <a href="https://www.google.de/maps/place/Strandstra%C3%9Fe+92,+24235+Laboe/@54.4116224,10.2265155,17z/data=!3m1!4b1!4m5!3m4!1s0x47b2f9b8c9c7d637:0x21605df93cb72a8b!8m2!3d54.4116193!4d10.2287042">

        <center style=" margin: 50px;"> <img src="/images/map/3.png"  class="img-rounded"  alt="image" width="800" height="600">
        </center>

    </a>

</div>