<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kiel Explorer | Error</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Error</h1>
        <% if(locals.error) { %>
            <div class="alert alert-danger">Error Code : <%= error.code; %></div>
        <% } %>
        <% if(locals.message) { %>
            <div class="alert alert-danger"><%= message; %></div>
        <% } %>
    </div>
</div>
</body>
</html>
